body {
    background-color: #f0f0f0;
}

.App {
    padding-left: 16px;
    padding-right: 16px;
  }

  @media (min-width: 768px) {
    .App {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  